.button-base {
    font-weight: 500;
  }
  
  .button-sm {
    height: 20px;
  }
  
  .button-md {
    height: 32px;
  }
  
  .button-lg {
    height: 40px;
  }
  
  .button-full {
    width: 100%;
  }
  
  .button-disabled {
    background-color: grey;
  }
  