html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Roboto-Regular.ttf) format("truetype");
}
