html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
