#eofol {
  color: magenta;
  font-size: 24px;
}

.container {
  margin: 16px 8px 16px 8px;
  text-align: center;
}

.phi {
  background-color: #278da6;
  border-radius: 8px;
  font-size: 12px;
}

.eofol-button {
  height: 40px;
  padding: 0 16px;
  background-color: rgb(144, 205, 244);
  font-size: 16px;
  color: rgb(26, 32, 44);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.eofol-button:hover {
  background-color: rgb(100, 161, 199);
}

.button-base {
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
}

.button-sm {
  height: 20px;
}

.button-md {
  height: 32px;
}

.button-lg {
  height: 40px;
}

.button-full {
  width: 100%;
}

.button-disabled {
  background-color: grey;
}

.checkbox-base {
  font-weight: 500;
}

.checkbox-sm {
  height: 20px;
}

.checkbox-md {
  height: 32px;
}

.checkbox-lg {
  height: 40px;
}

.checkbox-disabled {
  background-color: grey;
}

.select-base {
  border: 1px solid green;
}

.select-sm {
  height: 20px;
}

.select-md {
  height: 32px;
}

.select-lg {
  height: 40px;
}

.select-disabled {
  background-color: grey;
}
