html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

#eofol {
  color: magenta;
  font-size: 24px;
}

.container {
  margin: 16px 8px 16px 8px;
  text-align: center;
}

.phi {
  background-color: #278da6;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 8px;
}

.eofol-button {
  height: 40px;
  padding: 0 16px;
  background-color: rgb(144, 205, 244);
  font-size: 16px;
  color: rgb(26, 32, 44);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 16px;
}

.eofol-button:hover {
  background-color: rgb(100, 161, 199);
}

.m-md {
  margin-top: 32px;
}

.m-sm {
  margin-top: 16px;
}

.footer {
  height: 64px;
}

.no-gutter {
  margin-top: 0;
  margin-bottom: 0;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-color: hsl(0, 0%, 67%);
  background-clip: content-box;
}
